@import './base.css';

h1{
  margin: 1rem;
}
input[type="text"] {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
}

.btn{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 1rem;
  background-color: #66D2CE;
}

li{
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  background-color: rgba(47, 79, 79, 0.403);
  min-width: 220px;
  width: fit-content;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}
li:hover{
  background-color: darkslategray;
}

li>button{
  background-color: #006A71;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  align-self: flex-end;
  justify-self: flex-end;
  cursor: pointer;
}
